table{
    border: 5px solid black;
    width: 600px;
    height: 600px;
    margin: auto;
}
table, th, td{
    border: 5px solid black;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    border-collapse: collapse;
    font-style: italic;
    font-size: larger;
}
body{
    background-color: rgb(227, 202, 167);
}

